body {
  background: url(http://courses.ics.hawaii.edu/ics314s22/morea/ui-frameworks/wod-stewbum-background-image.jpg) no-repeat center center fixed;
  background-size: cover;
}

.ui.borderless.topmenu.menu {
  background: none;
  border: none;
  box-shadow: none;
}

.ui.menu .item {
  color: white;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 80px;
}
